.form-control {
  margin-right: 1em;
  margin-bottom: .5em;
}

.form-group {
  display: flex;
  max-width: 730px;
  flex-direction: column;
  text-align: center;
  margin: 0;
}

.add-pokemon-btn {
  margin-bottom: .5em;
}

.panel-heading {
  margin-bottom: .5em;
}

.list-group {
  display: flex;
  list-style-type: none;
  flex-direction: column;
}

.list-item {
  display: flex;
  flex-direction: row;
  margin-bottom: .5em;
  justify-content: space-between;
  align-items: center;
}

.list-item p {
  flex: 3;
  text-align: center;
}

.list-item button {
  flex: 1;
}

.modal {
  display: none;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  height: 250px;
  width: 250px;
  left: 8em;
}

.pokemon-img {
  height: auto;
  width: auto;
}

.input-edit {
  display: none;
  min-width: 300px;
  max-width: 300px;
  text-align: center;
}

.input-edit:focus {
  text-align: left;
}

.btn {
  max-width: 80px;
}

.btn-success {
  display: none;
  margin-left: .5em;
  background: green;
}

.btn-edit  {
  margin-left: .5em;
}

.btn-delete {
  margin-right: .5em;
}
